<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm px-4">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand d-flex align-items-center' do %>
      <%= image_tag "logo.png", alt: "Logo", width: 30, height: 30, class: "d-inline-block align-text-top me-2" %>
      Power AI
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Chat", new_chat_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Images", '#', class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Summarize", '#', class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Semantic Search", '#', class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Smart Reply", '#', class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
